@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --main-font: "Montserrat", sans-serif;
}
* {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
}
.row {
  display: flex;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* Header---------------------- */
header {
  position: fixed;
  height: 60px;
  z-index: 1000;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #fff;
}
.header-content {
  align-items: center;
}
.header-content-logo {
  width: 15%;
}
.header-content-logo img {
  width: 100px;
}

.header-content-nav {
  width: 55%;
  text-transform: capitalize;
  font-weight: 500;
}
.header-content-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-content-nav ul li a {
  font-size: 16px;
  transition: all 0.2s linear;
}
.header-content-nav ul li a:hover {
  color: #82c1de;
}
.header-content-search {
  width: 20%;
}
.header-content-search input {
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  margin-right: 5px;
}
.header-content-search i {
  cursor: pointer;
}
.header-content-icon {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: space-evenly;
}
.header-content-icon img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  cursor: pointer;
}
/* silder--------------------- */
.slider {
  margin-top: 60px;
}
.slider-content-item {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #8bc9e2, #82c1de);
  overflow: hidden;
  display: none;
}
.slider-content-item.active {
  display: flex;
}
.slider-content-item-left {
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 100px;
}
.slider-content-item-left-text {
  animation: textani 1s linear;
}
@keyframes textani {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.slider-content-item-right img {
  animation: imgani 1s linear;
}
@keyframes imgani {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.slider-content-item-left-text h1 {
  font-size: 32px;
}
.slider-content-item-left-text p {
  margin: 20px 0;
  font-weight: 500;
}
.slider-content-item-left-text > i {
  color: gold;
  margin-right: 5px;
}
.slider-content-item-left-text button:hover {
  background-color: tomato;
}
.slider-content-item-left-text button {
  display: block;
  height: 40px;
  padding: 0 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 12px;
  border: none;
  background-color: orange;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.slider-content-item-left-text button i {
  color: white;
  margin-left: 12px;
}

.slider-content-item-right {
  width: 100%;
  height: 100vh;
}
.slider-content-item-right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider-content {
  position: relative;
}
.slider-content-item-pre-next {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  padding: 0 12px;
  transform: translateY(-50%);
}
.slider-content-item-pre-next i {
  font-size: 32px;
  cursor: pointer;
  color: #dddddd;
}
/*-----------------------------------------------------------------------*/
.container {
  max-width: 1024px;
  /* max-width: 1200px; */
  margin: auto;
}
.product-content-item {
  position: relative;
}
.product-content-item-img {
  width: 196px;
  height: 411px;
  object-fit: cover;
}
.title_h1 {
  text-align: center;
  margin: 25px 0 30px;
  position: relative;
  font-size: 25px;
  /* text-transform: uppercase; */
}
.title_h1::after {
  position: absolute;
  content: "";
  display: block;
  height: 5px;
  background-color: tomato;
  width: 130px;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  border-radius: 5px;
}
.title_h2 {
  background-color: #8bc9e2;
  color: tomato;
  padding: 10px;
  margin: 5px 0;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 5px;
}
/* .owl-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
} */
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}
.owl-prev,
.owl-next:hover {
  background-color: transparent !important;
}
/* .owl-nav button {
} */
.owl-nav button span {
  font-size: 50px;
  padding: 0 10px;
  color: #333;
  position: relative;
  top: 1px;
}
.owl-dot span {
  background-color: #8bc9e2 !important;
}
.owl-dot.active span {
  background-color: tomato !important;
}
/* product-content-item-text */
.product-content-item-text {
  position: absolute;
  background-color: rgb(139, 201, 226, 0.7);
  /* width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s linear;
  display: none;
}
.product-content-item:hover .product-content-item-text {
  display: flex;
  /* width: 100%;
  height: 100%; */
}
.product-content-item-text h1 {
  color: #c61b1f;
  text-transform: capitalize;
  font-size: 20px;
}
.product-content-item-text p {
  color: #333;
  margin-top: 10px;
  font-size: 18px;
}
.product-content-item-text button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  background-color: tomato;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 10px;
}
.product-content-item-text i {
  color: tomato;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 12px;
}
/* Caterogy */
.category {
  margin-top: 30px;
}
.container {
}
.category-content {
  justify-content: space-between;
}
.category-item {
  width: 32%;
  height: 300px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.category-item:nth-child(1):hover h2 {
  background-color: #d4c64b;
  color: #fff;
  border: 2px solid #333;
}
.category-item:nth-child(2):hover h2 {
  background-color: #a5c3c5;
  color: #fff;
  border: 2px solid #333;
}
.category-item:nth-child(3):hover h2 {
  background-color: #fabab8;
  color: #fff;
  border: 2px solid #333;
}
.category-item h2 {
  position: absolute;
  bottom: 70px;
  min-height: 30px;
  min-width: 40%;
  font-size: 20px;
  line-height: 30px;
  background-color: rgba(139, 201, 226, 0.9);
  border: 2px solid tomato;
  transition: all 0.3s linear;
}
.category-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
/* Blog ------------------------------ */
.blogs {
  margin-bottom: 80px;
}
.blogs-content {
  justify-content: space-between;
}
.blogs-content-item {
  width: 32%;
  height: 300px;
}
.blogs-content-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* footer */
footer {
  /* background-color: #e4e4e4; */
  padding: 20px 0;
}
.footer-container {
  justify-content: space-between;
}
.footer-container-item {
}
.footer-container-item h3 {
  font-size: 18px;
  text-transform: uppercase;
}
.footer-container-item ul li {
  margin-top: 10px;
}
.footer-content-social {
  text-align: center;
  margin: 20px 0;
}
.footer-content-social i {
  font-size: 30px;
  margin-left: 15px;
  cursor: pointer;
}
.footer-content-copyright {
  text-align: center;
}
.footer-content-img {
  margin-top: 20px;
  text-align: center;
}
